
<div class="container">
  <br/>
<% if @users%>
  <div id="game-text">i wannna chill with kate mara</div>
  <br/>
  <form id="input-field">
    <input  type="text" name="user_input" placeholder="Type yo shit">
  </form>
<% else %>
  <h3>Please sign in or sign up!</h3>
<%end%>

<%= @email %>

</div>
