
<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/application.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/normalize.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dom.js"></script>
    <script type="text/javascript" src="application.js"></script>
    <title>Be Mine Kate Mara</title>
  </head>
  <body>
    <div class="container">
      <br/>
    <% if @users%>
    <div class="content">
      <div id='bubble'> <%= @current_user.name %>, of course!<3</div>
      <div class="interface">
        <h2 id="game-text">Kate will you please be my valentine?</h2>
        <img id='kate' src = "kate-mara.jpg">
      </div>
      <br/>
      <img src="ad.png">
    <% else %>
      <h3>Please sign in or sign up!</h3>
    <%end%>
    <%= @email %>
    </div>
  </body>
</html>

